.space-y-63 > *:not(:first-child) {
  margin-top: 1.97rem;
}
.page {
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group {
  height: 115.06rem;
}
.group_2 {
  height: 103.75rem;
  position: relative;
}
.section {
  padding: 1.69rem 1.38rem 22.53rem 1.88rem;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/63247bfa5a7e3f03106287e7/6337a8542526c000111c8733/16645919919340343793.png');
  background-position: 0% 0%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
.group_3 {
  padding-left: 0.69rem;
}
.font_1 {
  font-size: 1.25rem;
  font-family: HarmonyOSSansSC;
  line-height: 1.88rem;
  font-weight: 700;
  color: #11223f;
}
.group_4 {
  margin-top: 0.63rem;
  padding: 0 0.63rem;
}
.font_2 {
  font-size: 0.63rem;
  font-family: HarmonyOSSansSC;
  line-height: 1.25rem;
  font-weight: 700;
  color: #11223f;
}
.space-y-27 > *:not(:first-child) {
  margin-top: 0.84rem;
}
.group_7 {
  margin-top: 43.81rem;
}
.font_7 {
  font-size: 0.94rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.89rem;
  font-weight: 700;
  color: #11223f;
}
.section_5 {
  background-color: #1968fc;
  box-shadow: 0px 0.063rem 0px #d1e1fe;
  width: 2.5rem;
  height: 0.063rem;
}
.group_8 {
  margin-top: 25.25rem;
}
.space-y-30 > *:not(:first-child) {
  margin-top: 0.94rem;
}
.section_13 {
  padding-bottom: 0.94rem;
  background-color: #ffffff;
  box-shadow: 0px 0.63rem 1.88rem #3145f41a;
  width: 16.25rem;
  position: absolute;
  top: 90.75rem;
  left: 50%;
  transform: translateX(-50%);
}
.space-x-22 > *:not(:first-child) {
  margin-left: 0.69rem;
}
.image_7 {
  width: 2.5rem;
  height: 2.5rem;
}
.font_11 {
  font-size: 0.63rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.63rem;
  font-weight: 700;
  color: #11223f;
}
.text_10 {
  align-self: center;
  line-height: 0.59rem;
}
.font_6 {
  font-size: 0.5rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.94rem;
  font-weight: 700;
  color: #11223f;
}
.text_12 {
  align-self: center;
  width: 13.72rem;
}
.image_9 {
  width: 0.78rem;
  height: 0.78rem;
  position: absolute;
  right: 1.72rem;
  bottom: 6.59rem;
}
.section_11 {
  background-color: #ffffff;
  box-shadow: 0px 0.63rem 1.88rem #3145f41a;
  width: 16.25rem;
  position: absolute;
  top: 82.63rem;
  left: 50%;
  transform: translateX(-50%);
}
.space-x-20 > *:not(:first-child) {
  margin-left: 0.63rem;
}
.section_12 {
  background-color: #f3f7ff;
}
.text_11 {
  margin-right: 9.94rem;
}
.group_9 {
  padding: 0.94rem 1.25rem;
}
.image_8 {
  width: 0.78rem;
  height: 0.78rem;
  position: absolute;
  right: 1.72rem;
  bottom: 14.72rem;
}
.section_10 {
  padding: 1.38rem 1.25rem 1.5rem;
  background-color: #ffffff;
  box-shadow: 0px 0.63rem 1.88rem #3145f41a;
  width: 16.25rem;
  position: absolute;
  top: 69.44rem;
  left: 50%;
  transform: translateX(-50%);
}
.font_8 {
  font-size: 0.38rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.36rem;
  font-weight: 700;
  color: #11223f;
}
.font_9 {
  font-size: 0.56rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.53rem;
  font-weight: 700;
  color: #1967fa;
}
.font_10 {
  font-size: 0.5rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.47rem;
  font-weight: 700;
  color: #11223f;
}
.text_9 {
  margin-top: 0.91rem;
}
.image_6 {
  width: 0.78rem;
  height: 0.78rem;
  position: absolute;
  right: 1.72rem;
  bottom: 28.53rem;
}
.section_8 {
  padding: 1.38rem 1.25rem 1.5rem;
  background-color: #ffffff;
  box-shadow: 0px 0.63rem 1.88rem #3145f41a;
  width: 16.25rem;
  position: absolute;
  top: 62.56rem;
  left: 50%;
  transform: translateX(-50%);
}
.text_7 {
  margin-top: 0.91rem;
}
.image_5 {
  width: 0.78rem;
  height: 0.78rem;
  position: absolute;
  right: 1.72rem;
  bottom: 35.41rem;
}
.section_6 {
  padding: 1.38rem 1.25rem 1.5rem;
  background-color: #ffffff;
  box-shadow: 0px 0.63rem 1.88rem #3145f41a;
  width: 16.25rem;
  position: absolute;
  top: 55.69rem;
  left: 50%;
  transform: translateX(-50%);
}
.text_5 {
  margin-top: 0.91rem;
  line-height: 0.48rem;
}
.image_4 {
  width: 0.78rem;
  height: 0.78rem;
  position: absolute;
  right: 1.72rem;
  bottom: 42.28rem;
}
.section_7 {
  background-color: #1968fc;
  width: 0.094rem;
  height: 1.25rem;
  position: absolute;
  left: 3.72rem;
  top: 61.38rem;
}
.section_9 {
  background-color: #1968fc;
  width: 0.094rem;
  height: 1.25rem;
  position: absolute;
  left: 3.72rem;
  top: 68.25rem;
}
.space-y-40 > *:not(:first-child) {
  margin-top: 1.25rem;
}
.section_3 {
  padding: 1.25rem 1.25rem;
  background-color: #ffffff;
  width: 16.88rem;
  position: absolute;
  top: 29.22rem;
  left: 50%;
  transform: translateX(-50%);
}
.image_2 {
  width: 3.13rem;
  height: 3.13rem;
}
.space-y-15 > *:not(:first-child) {
  margin-top: 0.47rem;
}
.group_5 {
  align-self: center;
}
.font_4 {
  font-size: 0.56rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.53rem;
  font-weight: 700;
  color: #11223f;
}
.font_5 {
  font-size: 0.4rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.42rem;
  font-weight: 700;
  color: #1967fa;
}
.text_2 {
  opacity: 0.8;
}
.image_3 {
  filter: drop-shadow(0.031rem 0.16rem 0.13rem #f0f2f4);
  width: 1.88rem;
  height: 1.44rem;
}
.section_4 {
  padding: 1.25rem 1.25rem;
  background-color: #ffffff;
  width: 16.88rem;
  position: absolute;
  top: 39.44rem;
  left: 50%;
  transform: translateX(-50%);
}
.space-y-12 > *:not(:first-child) {
  margin-top: 0.38rem;
}
.group_6 {
  align-self: center;
}
.text_3 {
  line-height: 0.56rem;
}
.image {
  width: 14.91rem;
  height: 12.5rem;
  position: absolute;
  left: 0;
  top: 10.25rem;
}
.section_2 {
  padding: 1.69rem 0 1.5rem;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/63247bfa5a7e3f03106287e7/6337a8542526c000111c8733/16645919919536978318.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 21.94rem;
}
.font_3 {
  font-size: 0.75rem;
  font-family: SourceHanSansCN;
  line-height: 1.25rem;
  font-weight: 800;
  color: #ffffff;
}
.section_14 {
  margin-top: -3.06rem;
  padding-bottom: 1.88rem;
  background-color: #1968fc;
  position: relative;
}
.space-y-38 > *:not(:first-child) {
  margin-top: 1.19rem;
}
.group_10 {
  padding: 1.88rem 1.97rem 1.25rem;
}
.group_11 {
  padding-bottom: 0.31rem;
}
.font_12 {
  font-size: 0.94rem;
  font-family: HarmonyOSSansSC;
  line-height: 1.88rem;
  font-weight: 700;
  color: #ffffff;
}
.text {
  text-transform: uppercase;
}
.text_4 {
  margin-top: 0.5rem;
  line-height: 0.55rem;
}
.text_6 {
  margin-top: 0.5rem;
}
.text_8 {
  margin-top: 0.5rem;
}
.section_15 {
  align-self: flex-start;
  background-color: #ffffff;
  box-shadow: 0px 0.063rem 0px #6a9eff;
  width: 2.5rem;
  height: 0.063rem;
}
.font_13 {
  font-size: 0.63rem;
  font-family: HarmonyOSSansSC;
  line-height: 1.25rem;
  font-weight: 700;
  color: #ffffff;
}
.button {
  margin-left: 1.69rem;
  padding: 0.56rem 0 0.5rem;
  align-self: flex-start;
  background-color: #ffffff;
  box-shadow: 0.13rem 0.13rem 0.63rem #ffffff66;
  width: 10rem;
}
.text_13 {
  margin-left: 0.69rem;
  color: #1968fc;
  line-height: 0.52rem;
}
.space-y-28 > *:not(:first-child) {
  margin-top: 0.88rem;
}
.group_12 {
  padding: 0 1.97rem;
}
.view {
  margin-left: 0.094rem;
}
.space-y-22 > *:not(:first-child) {
  margin-top: 0.69rem;
}
.image_10 {
  width: 1.25rem;
  height: 1.03rem;
}
.text_14 {
  margin: 0.19rem 0 0.25rem 0.66rem;
  color: #111111;
  line-height: 0.59rem;
}
.group_13 {
  padding: 0 1.88rem;
}
.font_14 {
  font-size: 0.5rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.94rem;
  font-weight: 700;
  color: #000000;
}
.space-y-23 > *:not(:first-child) {
  margin-top: 0.72rem;
}
.section_16 {
  padding: 1.25rem 1.16rem 1.56rem;
  background-color: #fbfbfb;
}
.group_14 {
  padding-top: 0.31rem;
  position: relative;
}
.text-wrapper {
  padding: 0.56rem 0 0.59rem;
  background-color: #1968fc0d;
  border-radius: 0.94rem;
  width: 6.25rem;
}
.text_15 {
  color: #1968fc;
}
.group_15 {
  position: absolute;
  right: 0;
  top: 0;
}
.section_17 {
  background-color: #d8d8d800;
  width: 1.56rem;
  height: 1.56rem;
}
.group_16 {
  align-self: center;
  line-height: 0.63rem;
  text-align: center;
}
.font_15 {
  font-size: 0.44rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.63rem;
  font-weight: 700;
  color: #000000;
}
.text_16 {
  color: #1968fc;
}